[user]
	name = starandtina
	email = kandmforever@126.com
	signingkey = 055B8BAD
[push]
	default = simple
[alias]
    dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
    clean-tags=for-each-ref --format="%(refname:short)" refs/tags/* | xargs git tag -d && git fetch --tags
    st = status -sb
    ci = commit -m
    br = branch
    df = diff
    lg = log -pgit ps
    co = checkout
    fu = fetch upstream
    tree = log --graph --pretty=oneline --decorate
    pom = pull origin master
    ps = push
    pst = push --tags
    pl = pull
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
    amend = commit --amend -C HEAD
    ll   = log --pretty=oneline --decorate --abbrev-commit --max-count=30
    lll  = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    rn = log -M
    short = shortlog -s -n
    # Displays active users in the repository in the past 6 months
    active = shortlog --numbered --summary --email --no-merges --since="6 months"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = false
[init]
	templatedir = /Users/zx/.git-templates
