email=kandmforever@126.com
init-author-name=Khalil Zhang
init-author-email=kandmforever@126.com
init-author-url=http://starandtina.github.io/
init-license=MIT
save-exact=true
progress=false
username=starandtina
